<ion-view cache-view="false">
    <ion-content ng-controller="NgNotebookTagsFormCtrl">

        <form name="AddTagForm" autocomplete="off" novalidate="novalidate" ng-submit="onSubmit($event)">
            <div class="list">
                <p ng-repeat="selectedTag in selectedTags"
                   class="tags__selected-tag"
                   ng-click="removeSelectedTag(selectedTag)" >
                    {{selectedTag}}</p>
                <a href=""
                   class="tags__search-icon button button-icon icon ion-search"
                   ng-click="doSearch()"
                   ng-if="selectedTags.length" ></a>
                <label class="item item-input"
                       ng-class="{
                            'has-error': AddTagForm.$dirty &&
                                         (
                                           AddTagForm.$invalid ||
                                           tags.indexOf(searchableTag) !== -1
                                         )
                       }"
                >
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text"
                       class="form-control"
                       placeholder="Search"
                       ng-pattern="/^[a-zA-Z0-9\-\_]{1,256}$/"
                       ng-model="searchableTag"
                       ng-change="onChange()" >
                    <button type="submit" class="button button-icon">
                        <i class="icon ion-plus tags__add-btn"
                           ng-show="AddTagForm.$valid && AddTagForm.$dirty && searchableTag && tags.indexOf(searchableTag) === -1"></i>
                    </button>
                </label>
            </div>
        </form>

        <div class="list" show-delete="true">

            <div ng-repeat="tag in displayedTags" class="item item-tag item-icon-left item-icon-right">

                <div ng-click="deleteTag(tag)" ng-if="!isUnderEdit(tag)">
                    <a href=""
                       class="tag__delete-btn button button-icon icon ion-android-cancel"
                       ng-disabled="tagUnderEdit"></a>
                </div>
                <span ng-if="!isUnderEdit(tag)"
                      ng-click="selectTag(tag)"
                      ng-class="{ 'item-disabled': tagUnderEdit }">{{ tag }}</span>

                <form ng-submit="saveTag(tag)" novalidate="novalidate" autocomplete="off" ng-if="isUnderEdit(tag)">
                    <label class="item-input">
                        <input type="text" placeholder="Tag name" ng-model="tag"/>
                    </label>
                    <a href=""
                       ng-click="cancelEdit()"
                       class="button button-icon icon ion-close-round tags__cancel-icon"></a>
                    <a href=""
                       ng-click="saveTag(tag)"
                       class="button button-icon icon ion-checkmark tags__save-icon"></a>
                </form>

                <div style="z-index: 1000;"
                     ng-click="editTag(tag)"
                     ng-if="!isUnderEdit(tag)">
                    <a href=""
                       ng-disabled="tagUnderEdit"
                       class="button tags__edit-btn button-icon icon ion-edit"></a>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>