<ion-view>
    <ion-content padding="true">
        <div class="list" ng-controller="NgNotebookCreateArticleCtrl">
            <form novalidate="novalidate"
                  autocomplete="off"
                  name="CreateArticleForm"
                  ng-submit="onSubmit($event)">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Title</span>
                    <input type="text"
                           required="required"
                           placeholder="Title"
                           ng-model="article.title">
                </label>
                <label class="item item-input item-floating-label article-form-content-wrapper">
                    <textarea name="{{editorName}}"
                              ng-model="article.content"
                              ck-editor></textarea>
                </label>
                <div>
                    <button type="submit"
                            class="button button-balanced button-block">
                        Create</button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>