<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- CKEditor -->
    <script src="lib/ckeditor/ckeditor.js"></script>

    <!-- MomentJS -->
    <script src="lib/momentjs/min/moment.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="ngNotebook.module.js"></script>
    <script src="core/ngNotebookCore.module.js"></script>
    <script src="core/ngNotebookCore.controller.js"></script>
    <script src="articles/ngNotebookArticles.module.js"></script>
    <script src="articles/ngNotebookArticles.controller.js"></script>
    <script src="article/ngNotebookArticle.module.js"></script>
    <script src="article/ngNotebookArticle.controller.js"></script>
    <script src="article/edit-article/ngNotebookEditArticle.module.js"></script>
    <script src="article/edit-article/ngNotebookEditArticle.controller.js"></script>
    <script src="article/create-article/ngNotebookCreateArticle.module.js"></script>
    <script src="article/create-article/ngNotebookCreateArticle.controller.js"></script>
    <script src="tags/ngNotebookTags.module.js"></script>
    <script src="tags/ngNotebookTags.controller.js"></script>
    <script src="tags/ngNotebookTagsForm.controller.js"></script>
    <script src="calendar/ngNotebookCalendar.module.js"></script>
    <script src="calendar/ngNotebookCalendar.controller.js"></script>
    <script src="search/ngNotebookSearch.module.js"></script>
    <script src="search/ngNotebookSearch.controller.js"></script>
    <script src="search/ngNotebookSearch.resultsFormatter.js"></script>
    <script src="search-results/ngNotebookSearchResults.module.js"></script>
    <script src="search-results/ngNotebookSearchResults.controller.js"></script>
    <script src="services/ngNotebookServices.module.js"></script>
    <script src="services/Article.js"></script>
    <script src="services/Tag.js"></script>
    <script src="services/Category.js"></script>
    <script src="services/local-storage/ngNotebookServicesLocalStorage.module.js"></script>
    <script src="services/local-storage/ArticleStorage.js"></script>
    <script src="services/local-storage/TagStorage.js"></script>
    <script src="services/local-storage/CategoryStorage.js"></script>
    <script src="filters/ngNotebookFilters.module.js"></script>
    <script src="filters/htmlToPlaintext.js"></script>
    <script src="filters/capitalize.js"></script>
    <script src="filters/header.js"></script>
    <script src="common/ckeditor/ngNotebookCKEditor.module.js"></script>
    <script src="common/ckeditor/ngNotebookCKEditor.directive.js"></script>
    <script src="common/categories-tree/ngNotebookCategoriesTree.module.js"></script>
    <script src="common/categories-tree/ngNotebookCategoriesTree.directive.js"></script>
    <script src="common/categories-tree/ngNotebookCategoriesTree.controller.js"></script>
    <script src="utils/ngNotebookUtils.module.js"></script>
    <script src="utils/localStorage.js"></script>
</head>
<body ng-app="ngNotebook" ng-controller="NgNotebookCoreCtrl as ngnCoreCtrl">

<ion-side-menus>

    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="nav-title-slide-ios7 bar-dark">
            <ion-nav-back-button class="button-clear">
                <i class="ion-arrow-left-c"></i>
            </ion-nav-back-button>
            <ion-nav-title>
                <a href="#/" class="header-text-link">
                    <i class="icon ion-ios-pricetag-outline" ng-if="ngnCoreCtrl.type === 'tags'"></i>
                    <i class="icon ion-ios-folder-outline"   ng-if="ngnCoreCtrl.type === 'category'"></i>
                    <i class="icon ion-android-calendar"     ng-if="ngnCoreCtrl.type === 'date'"></i>
                    {{ ngnCoreCtrl.header }}
                </a>
            </ion-nav-title>
            <ion-nav-buttons side="right">
                <button class="button button-icon ion-home"
                        ng-click="ngnCoreCtrl.goTo('root')"
                        ng-if="ngnCoreCtrl.flags.displayed.homeBtn"
                        ></button>
                <button class="button button-icon ion-search"
                        ng-click="ngnCoreCtrl.goTo('search')"
                        ng-if="ngnCoreCtrl.flags.displayed.searchBtn"></button>
                <button class="button button-icon ion-navicon"
                        ng-show="ngnCoreCtrl.flags.displayed.navBtn"
                        ng-click="ngnCoreCtrl.toggleLeft()"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
    </ion-pane>

    <div class="actions-btns articles-manage-btns" ng-show="ngnCoreCtrl.flags.displayed.addBtn">
        <a href="#/create" class="actions-btns__icon articles-manage-btns__icon icon ion-android-add-circle"></a>
    </div>

    <ion-side-menu side="right">
        <ion-header-bar class="bar bar-header bar-dark">
            <ion-nav-bar>
                <ion-nav-back-button></ion-nav-back-button>
            </ion-nav-bar>
        </ion-header-bar>

        <ion-content has-header="true">

            <div class="list">

                <a class="item item-icon-left" menu-close ng-click="ngnCoreCtrl.goTo('tags')">
                    <i class="icon ion-ios-pricetag"></i>
                    Tags
                </a>

                <a class="item item-icon-left" menu-close ng-click="ngnCoreCtrl.goTo('calendar')">
                    <i class="icon ion-android-calendar"></i>
                    Calendar
                </a>

                <a class="item item-icon-left" menu-close ng-click="ngnCoreCtrl.goTo('export')">
                    <i class="icon ion-android-upload"></i>
                    Export
                </a>

                <categories-tree></categories-tree>

            </div>

        </ion-content>
    </ion-side-menu>
</ion-side-menus>

</body>
</html>
