<ion-view cache-view="false">
    <ion-content ng-controller="NgNotebookSearchCtrl">

        <form name="SearchForm" autocomplete="off" novalidate="novalidate" ng-submit="onSubmit($event)">
            <div class="list">
                <label class="item item-input" 
                       ng-class="{ 'has-error': SearchForm.$dirty && SearchForm.$invalid && SearchForm.$submitted }">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text"
                       class="form-control"
                       placeholder="Search"
                       ng-model="searchTxt"
                       ng-change="onChange()"
                       required="required" >
                </label>
            </div>
        </form>

        <ion-list class="results">

            <ion-item ng-repeat="result in results" class="result item-icon-left">
                <i class="button button-icon icon ion-bookmark"
                   ng-if="result.type === 'title'"></i>
                <i class="button button-icon icon ion-document-text"
                   ng-if="result.type === 'content'"></i>
                <i class="button button-icon icon ion-pricetag"
                   ng-if="result.type === 'tag'"></i>
                <i class="button button-icon icon ion-ios-folder"
                   ng-if="result.type === 'category'"></i>
                <a href="#/article/{{result._id}}" class="search__result__link">
                    <span ng-bind-html="result.value" class="search_result__text"></span>
                </a>
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>