<ion-list>

    <div class="item item-divider">
        Categories
    </div>

    <ion-item ng-if="ngnCtc.parentId" class="categories-tree__arrow-up">
        <a href="" class="categories-tree__arrow">
            <i class="icon ion-arrow-up-b"
               ng-click="ngnCtc.showParents(ngnCtc.parentId)"></i>
        </a>
    </ion-item>

    <ion-item ng-repeat="category in ngnCtc.categories" class="item-icon-right">
        <span ng-click="ngnCtc.doSearch(category.name)"
              menu-close>
            {{ category.name }}
        </span>
        <a href="" class="categories-tree__arrow">
            <i class="icon ion-arrow-right-b"
               ng-if="!ngnCtc.parentId && category.hasChildren"
               ng-click="ngnCtc.showChildren(category)"></i>
        </a>
    </ion-item>

</ion-list>