<ion-view cache-view="false">
    <ion-content>

        <div class="list">

            <label class="item item-input item-select">
                <span class="input-label">
                    Date
                </span>
                <select ng-model="filterData.type"
                        ng-change="setType()">
                    <option value="">Select...</option>
                    <option ng-repeat="type in filterTypes"
                            value="{{type.type}}"
                            ng-selected="type.type === filterData.type">
                        {{type.label}}
                    </option>
                </select>
            </label>

            <label class="item item-input item-select"
                   ng-if="filterData.type">
                <span class="input-label">
                    Condition
                </span>
                <select ng-model="filterData.cond"
                        ng-change="setCond()">
                    <option value="">Select...</option>
                    <option ng-repeat="cond in filterConds"
                            value="{{cond.cond}}"
                            ng-selected="cond.cond === filterData.cond">
                        {{cond.label}}
                    </option>
                </select>
            </label>

            <label class="item item-input"
                   ng-if="
                        filterData.cond &&
                        ['before', 'before-or-at', 'before-and-at', 'at', 'at-or-after', 'at-and-after', 'after'].indexOf(filterData.cond) !== -1
                   ">
                <span class="input-label">Value</span>
                <input type="date"
                       name="filterValDate"
                       ng-model="dateModel.simple"
                       ng-change="setDateVal()"
                       max="{{ moment().format('YYYY-MM-DD') }}"
                />
            </label>

            <label class="item item-input"
                   ng-if="
                        filterData.cond &&
                        ['between'].indexOf(filterData.cond) !== -1
                   ">
                <span class="input-label">Start</span>
                <input type="date"
                       class="form-control"
                       name="filterValDateStart"
                       id="filterValDateStart"
                       ng-model="dateModel.start"
                       ng-change="setDateVal('start')"
                       max="{{
                            moment(moment().format('YYYY-MM-DD')).isAfter(dateModel.end)
                                ? moment(dateModel.end).format('YYYY-MM-DD')
                                : moment().format('YYYY-MM-DD') }}
                       "
                />
            </label>
            <label class="item item-input"
                   ng-if="
                        filterData.cond &&
                        ['between'].indexOf(filterData.cond) !== -1
                   ">
                <span class="input-label">End</span>
                <input type="date"
                       class="form-control"
                       id="filterValDateEnd"
                       name="filterValDateEnd"
                       ng-model="dateModel.end"
                       ng-change="setDateVal('end')"
                       min="{{ dateModel.start ? moment(dateModel.start).format('YYYY-MM-DD') : '' }}"
                       max="{{ moment().format('YYYY-MM-DD') }}"
                />
            </label>

            <div class="item"
                 ng-if="
                    filterData.cond === 'between' ?
                        dateModel.start && dateModel.end :
                        filterData.value
                 "
                 ng-click="filter()"
                >
                <button class="button button-block button-balanced">
                    Find
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>