<ion-view cache-view="false">
    <ion-content>

        <div class="card article"
             ng-repeat="article in articles">

            <div class="item item-divider article-header">
                <a
                        class="article-header__icon article-header__icon-title"
                        ng-href="#/article/{{ article._id }}">{{ article.title }}</a>
                <a
                        class="article-header__icon article-header__icon-delete icon ion-android-delete"
                        href="#"
                        ng-click="deleteArticle(article._id)"></a>
            </div>

            <div class="item item-text-wrap"
                 ng-bind-html="article.content"></div>

        </div>

    </ion-content>
</ion-view>