<ion-view cache-view="false">
    <ion-content>

        <div class="preloader">
            <ion-spinner icon="spiral" ng-if="!isReady"></ion-spinner>
        </div>

        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>

        <div class="card article"
             ng-repeat="article in articles"
             ng-if="isReady">

            <div class="item item-divider article-header">
                <a
                        class="article-header__icon article-header__icon-title"
                        ng-href="#/article/{{ article._id }}">{{ article.title }}</a>
                <a
                        class="article-header__icon article-header__icon-delete icon ion-android-delete"
                        href="#"
                        ng-click="deleteArticle(article._id)"></a>
            </div>

            <div class="item item-text-wrap"
                 ng-bind-html="article.content"></div>

            <div class="item item-icon-left item__category" ng-if="article.category && article.category.name">
                <i class="icon ion-ios-folder"></i>
                <div>{{ article.category.name }}</div>
            </div>

            <div class="item item-icon-left item__tags" ng-if="article.tags && article.tags.length">
                <i class="icon ion-ios-pricetag"></i>
                <div class="item__tag" ng-repeat="tag in article.tags">
                    {{ tag }}
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>