<form novalidate="novalidate"
      autocomplete="off"
      name="EditArticleForm"
      ng-controller="NgNotebookEditArticleCtrl"
      ng-submit="onSubmit($event)">
    <label class="item item-input item-floating-label">
        <span class="input-label">Title</span>
        <input type="text"
               required="required"
               placeholder="Title"
               ng-model="editableArticle.title">
    </label>
    <label class="item item-input item-floating-label article-form-content-wrapper">
        <textarea name="{{editorName}}"
                  ng-model="editableArticle.content"
                  ck-editor></textarea>
    </label>
    <div>
        <button type="submit"
                class="button button-balanced button-block">
            Save
        </button>
        <button type="button"
                ng-click="cancelEdit()"
                class="button button-assertive button-block">
            Cancel</button>
    </div>
</form>