/* Empty. Add your own CSS if you like */
.actions-btns {
    z-index:  10;
    position: fixed;
    bottom:   5%;
}

.articles-manage-btns {
    right: 2.5%;
}

.article-manage-btns {
    left: 2.5%;
    text-align: center;
}

.header-text-link,
.header-text-link:visited,
.header-text-link:active {
    text-decoration: none;
    color:           #000;
}

.actions-btns__icon,
.actions-btns__icon:visited,
.actions-btns__icon:active {
    text-decoration: none;
    color:           #000;
}

.articles-manage-btns__icon {
    font-size: 64px;
}

.article-manage-btns__icon {
    font-size: 48px;
}

/** **/
.article-header__icon {
    vertical-align: middle;
}

.article-header__icon,
.article-header__icon:visited,
.article-header__icon:active {
    color:           #000;
    text-decoration: none;
}

.article-header__icon-title:active {
    text-decoration: underline;
    font-weight: bolder;
}

.article-header__icon-delete {
    display:   block;
    float:     right;
    margin-right: 5px;
    font-size: 32px;
}

.articles-header__delete-icon:visited,
.articles-header__delete-icon:active {
    text-decoration: none;
    color:           #000;
}

.article__header__tags {
    margin-top: 15px;
}

.article-form-content-wrapper {
    padding: 1px;
}

/** articles tags **/

.item.item-icon-left.item__tags,
.item.item-icon-left.item__category {
    padding-top: 5px;
    padding-bottom: 5px;
}

.item__tag {
    display: inline-block;
    margin: 2.5px 2.5px 2.5px 0;
    padding: 3.5px;
    background: #bdcbac;
}
/** articles tags **/

.preloader {
    position: absolute;
    top:   20px;
    left:  49%;
}

/** **/

.tags__add-btn {
    margin-right: 14px;
}

.item-delete .button.icon {
    color: #000;
}

.has-error {
    border-bottom: 1px solid #EE0505;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/** categories tree start **/
.categories-tree {
    margin-top: 35px;
}

.categories-tree .categories-title-wrapper .categories-title {
    font-family: "Source Code Pro",Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
    color: #320000;
    text-align: center;
}

.categories-tree .accordion-toggle {
    outline: none;
    text-decoration: none;
}

.categories-tree li {
    list-style: none;
    padding: 5px;
    border: 1px ridge #B3B99D;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background: transparent;
}

.categories-tree li.go-up {
    border-top: none;
    min-height: 25px;
    text-align: center;
    padding: 1.5px;
}

.categories-tree li.go-up .glyphicon {
    position: static;
    float: none !important;
    vertical-align: middle;
}

.categories-tree li:hover {
    cursor: pointer;
    background: #C5D4BF;
}

.categories-tree li .glyphicon {
    top: 4px;
}

.categories-tree li a {
    text-decoration: none;
    color: black;
}

.categories-tree li a:hover {
    text-decoration: none;
}

.categories-tree li:last-child {
    border-bottom: 1px ridge #B3B99D;
}

.categories-tree__arrow,
.categories-tree__arrow:visited,
.categories-tree__arrow:active {
    text-decoration: none;
    color:           #000;
}

.categories-tree__arrow-up {
    padding: 8px;
    text-align: center;
}

.categories-tree__arrow-up a {
    font-size: 32px;
}

/** categories tree end **/

/** tags start **/

.list .item.item-tag.item-icon-left.item-icon-right .tag__delete-btn {
    left: 0;
}

.tags__edit-btn {
    right: 0 !important;
    font-size: 26px;
}

.tags__edit-btn:hover {
    cursor: pointer;
}

.list .item.item-tag.item-icon-left.item-icon-right .tags__save-icon {
    right: 0;
}

.list .item.item-tag.item-icon-left.item-icon-right .tags__cancel-icon {
    width: 46px;
    left: 0;
}

.item-disabled {
    -webkit-filter: opacity(0.75);
    filter: opacity(0.75);
}

.tags__selected-tag {
    display:    inline-block;
    margin:     3px 4px 4px 3px;
    padding:    5px;
    background: antiquewhite;
}

.tags__selected-tag:active,
.tags__selected-tag:hover {
    text-decoration: line-through;
    cursor: pointer;
}

.tags__search-icon {
    vertical-align: middle;
}

/** tags end **/

/** search start **/

.search__result__link,
.search__result__link:active,
.search__result__link:visited {
    text-decoration: none;
    color: #000;
}

.search__result__string {
    font-weight: bolder;
}

.search__result__title {
    background-color: #ddcd90;
}

.search__result__content {
    background-color: #a9dd9e;
}

.search__result__tag {
    background-color: #89ddce;
}

.search__result__category {
    background-color: #ddc4dd;
}

/** search end **/