<ion-view>

    <ion-content padding="true">

        <div class="article" ng-show="flags.isReady && !flags.isUnderEdit">

            <div class="article__header">
                <h3>{{ article.title }}</h3>
                <p class="article__header__tags" ng-if="article.tags.length">
                    <strong>Tags:</strong>&nbsp;{{ article.tags.join(', ') }}
                </p>
            </div>

            <div class="article__content" ng-bind-html="article.content"></div>

        </div>

        <div class="list"
             ng-controller="NgNotebookEditArticleCtrl"
             ng-if="flags.isUnderEdit"
             ng-include="'article/edit-article/ngNotebookEditArticle.html'"
                >
        </div>

    </ion-content>

    <div class="actions-btns article-manage-btns" ng-hide="flags.isUnderEdit">
        <div ng-click="flags.isUnderEdit = true">
            <a class="actions-btns__icon article-manage-btns__icon icon ion-edit"
               href=""></a>
        </div>
        <div ng-click="deleteArticle()">
            <a class="actions-btns__icon article-manage-btns__icon icon ion-android-delete"
               href=""></a>
        </div>
    </div>

</ion-view>